
.scroll-left {
height: 50px; 
overflow: hidden;
position: relative;
z-index: -100;
-webkit-transform: rotateZ(-200deg);
        -ms-transform: rotateZ(-200deg);
        transform: rotateZ(30deg);
}




@keyframes slideshow {
	0% {left: 0;}
	100% {left: 200%;}
}


.scroll-left span {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
color: white;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
line-height: 50px;
text-align: center;
transition-delay: 10s;

/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 20s ease-out infinite;
-webkit-animation: scroll-left 20s ease-out infinite;
animation: scroll-left 20s ease-out infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(-100%); }
100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(-100%); }
100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
100% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
}




.more {
	margin-top: 10px;
}


body,
html {
  width: 100%;
  height: 100%; 
}

body {
  

  background: radial-gradient(#999999, #000000);
}

.nav {
	background: linear-gradient(#999999, #000000);
}

.copy span {
	font-size: 3rem;
	
	font-family: 'Bungee Shade', cursive;
	

}

h1 {
	display:inline;
	border: 2px solid white;
}

.copy{
	

	z-index: 100;
	position: relative;

}



.logo{
	font-size: 1rem;
	vertical-align: super;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 7vw;
    }
}

 

@media only screen and (max-width: 600px) {
    body {
       width: 100%;
    }
}






.faded {
  color: rgba(255, 255, 255, 0.8); 
}










header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
  