

#particles-js{ position:absolute; 
  width: 100%; 
  height: 300px; 
  background-color: #99B898; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
background-position: 50% 50%; 
}

.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }


body {
  margin:0; 
  background-color: #99B898
}

#site-header {
 background: linear-gradient(247deg, #FECEA8, #2A363B);
 background-size: 400% 400%;


  width: 100%;

  position: absolute;
  height: 80px;
  border-bottom: 1px solid grey;


}

ul {
  list-style-type: none;
}


.navbar {
   background: linear-gradient(247deg, #FECEA8, #2A363B);
 background-size: 400% 400%;
-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;


}


.page{
  font-family: 'Itim', cursive;
   font-weight: bold;
}


#foot{
  font-family: 'Itim', cursive;
   font-weight: bold;
 position: relative;
  margin-top: 410px;

  clear: both;
}

.page-footer {
  background: linear-gradient(247deg, #2A363B, #FECEA8);
 background-size: 400% 400%;
-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


#list a {
  color: #E84A5F;
  text-decoration: none;
  
  margin: 40px;
}

#log {
    color: #E84A5F;
  text-decoration: none;
  
  margin: 40px;
}


#header{
   font-family: 'Itim', cursive;
   font-weight: bold;
   font-size: 3rem;


}

#list a:hover {
  color:#FF847C ;
  text-decoration: none;
}

#logo{

  background-repeat: no-repeat; 
  width: 50px; 
  height: 50px; 
  display: block; 
  text-indent: -9999px;
}

/* navbar */



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




/*
=====
LEVEL 1. RESET STYLES
=====
*/

button{
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

.button{
  cursor: pointer;
  color: var(--colorWhite);
}

a{
  display:inline-block;
  text-decoration: none;
}

.link{
  color: inherit;
}

.list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 2. MENU STYLES
=====
*/

/* menu */

.header{
  box-sizing: border-box;
  width: 100%;
  color: var(--colorWhite);

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;

  height: 0;
  transform: translate3d(0, -100%, 0);
  opacity: 0;

  display: flex;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;
}

.menu__list{
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  display: none;

  padding-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__group{
  padding: .5rem 3rem; 
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__group_active{
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}

.menu__item{
  padding: 8px 25px;
  display: block;
}

/* hamburger */

.hamburger{
  position: relative;
  line-height: 1;
  padding-bottom: .5em;
}

.hamburger:before{
  content :"";
  width: 100px;
  height: 100px;
  background-color: var(--colorMain);
  border-radius: 50%;

  position: absolute;
  bottom: -55px;
  left: -35px;
}

.hamburger__button{
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;

  position: absolute;
  left: 0;
}

.hamburger__button:before, .hamburger__button:after{
  content:"";
}

.hamburger__button:before{
  top: 0;
}

.hamburger__button:after{
  bottom: 0;
}

.hamburger__button:focus{
  outline: none;
}

.hamburger__label{
  margin-top: -.1em;
  top: 50%;
}

/* activated state */

.js-menu_activated{
  overflow: hidden;
}

.js-menu_activated .menu{
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menu_activated .hamburger:before{
  width: 100vh;
  height: 100vh;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu__list{
  display: block;
}

.js-menu_activated .hamburger__button:before{
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label{
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu{
  transition: opacity .2s ease-out;
}

.js-menu_activated .menu{
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.hamburger:before{
  will-change: width, height;
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before{
  transition-duration: 1s;
}

.hamburger__button:before, .hamburger__button:after{
  transition-property: transform;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  transition-timing-function: ease;
  transition-duration: .15s;
}

.hamburger__label{
  transition-property: transform, opacity;
}

/*
* demo page
*/

@media (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px){

  html{
    font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: var(--colorBlack);

  margin: 0;
  -webkit-overflow-scrolling: touch;   
}

:root{
  --colorBlack: #222;
  --colorWhite: #fff;
  --colorGray: #f0f0f0;
  --colorMain: #2A363B;
  --colorMainLight: #8491d8;
  --colorMainDark: #233286;
}

a{
  color: var(--colorMain);
}

.page{
  min-height: 100vh;
  display: flex;
}

.page__demo{
  display: flex;
  flex-grow: 1;
}

.page__container{
  max-width: 370px;
  padding: 10px;
  margin: auto;  
  text-align: center;
}

.page__name{
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.page__hint{
  display: block;
  line-height: 1.45;
  margin-bottom: .5rem;
}






/*

colors to use:
#99B898
#FECEA8
#FF847C
#E84A5F
#2A363B;

a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

a {
	width: 100px;
	opacity:0;  
  -webkit-animation:fadeIn ease-in 1;   
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 6s;
  -moz-animation-duration:6s;
  animation-duration:6s;
   font-family: 'Eczar', serif;

}

.heading-container{
	position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  color: #fefefe;

}


.heading{
	      font-weight: 900;
    font-family: 'Eczar', serif;
    letter-spacing: -0.2px;
    font-size: 50px;
}


.tagline{
    font-weight: 400;
    text-transform: uppercase;
  font-family: 'Eczar', serif;    
  font-size: 20px;
}

.rectangle{
    width:40px;
    height:40px;
    border: 2px solid #01edf7;
    top: 30px;
    left: 200px;
   display: flex;
   justify-content: space-between;
   position: absolute;
}




#rec {
	margin-bottom: 200px;
	margin-left: 200px;
 transiton: width 2s;
	animation: 25s ease-out 0s 1 grow, 25s ease-out 0s 1 spin;
	-webkit-animation: 25s ease-out 0s 1 grow, 25s ease-out 0s 1 spin;
	-moz-animation: 25s ease-out 0s 1 grow, 25s ease-out 0s 1 spin;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
}

#rec2 {
  margin-left: 200px;
   transiton: width 2s;
	animation: 30s ease-out 0s 1 grow, 35s ease-out 0s 1 spin2;
	-webkit-animation: 30s ease-out 0s 1 grow, 35s ease-out 0s 1 spin2;
	-moz-animation: 30s ease-out 0s 1 grow, 35s ease-out 0s 1 spin2;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
}

#rec3 {
  margin-left: 200px;
  margin-bottom: 200px;
   transiton: width 2s;
	animation: 20s ease-out 0s 1 grow, 25s ease-out 0s 1 spinz;
	-webkit-animation: 20s ease-out 0s 1 grow, 25s ease-out 0s 1 spinz;
	-moz-animation: 20s ease-out 0s 1 grow, 25s ease-out 0s 1 spinz;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;

}

#rec4 {
  margin-left: 200px;
  margin-bottom: 200px;
   transiton: width 2s;
	animation: 35s ease-out 0s 1 grow, 40s ease-out 0s 1 spins;
	-webkit-animation: 35s ease-out 0s 1 grow, 40s ease-out 0s 1 spins;
	-moz-animation: 35s ease-out 0s 1 grow, 40s ease-out 0s 1 spins;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;

}

#rec5 {
  margin-left: 200px;
  margin-bottom: 200px;
   transiton: width 2s;
	animation: 45s ease-out 0s 1 grow, 50s ease-out 0s 1 spin1;
	-webkit-animation: 45s ease-out 0s 1 grow, 50s ease-out 0s 1 spin1;
	-moz-animation: 45s ease-out 0s 1 grow, 50s ease-out 0s 1 spin1;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;

}

.tagline{
opacity:0;  
  -webkit-animation:fadeIn ease-in 1;   
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 4s;
  -moz-animation-duration:4s;
  animation-duration:4s;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body{
	height: auto;
	width: 100%;
	background: #01051a;
	
}



@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(230deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(230deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(230deg);}
}


@-moz-keyframes spinz {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(210deg); }
}
@-webkit-keyframes spinz {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(210deg); }
}
@keyframes spinz {
    from {transform:rotate(0deg);}
    to {transform:rotate(210deg);}
}

@-moz-keyframes spins {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(250deg); }
}
@-webkit-keyframes spins {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(250deg); }
}
@keyframes spins {
    from {transform:rotate(0deg);}
    to {transform:rotate(250deg);}
}

@-moz-keyframes spin1 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(270deg); }
}
@-webkit-keyframes spin1 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(270deg); }
}
@keyframes spin1 {
    from {transform:rotate(0deg);}
    to {transform:rotate(270deg);}
}

@-moz-keyframes spin2 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(190deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(190deg); }
}
@keyframes spin2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(190deg);}
}




@-moz-keyframes grow {
   from {width: 40px; height: 40px;}
to {width: 500px; height: 500px;} 
}
@-webkit-keyframes grow {
 from {width: 40px; height: 40px;}
to {width: 500px; height: 500px;} 
}
@keyframes grow {
   from {width: 40px; height: 40px;}
to {width: 500px; height: 500px;} 
}
