body {
  margin:0; 
  padding:0;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  font-family: Poppins;
}



.jumbotron{
 width:60%;
  text-align: center;
  margin-left: 20%;

}

.container{
  display: inline-block;
}

#footer {
  background: #212529;
position: fixed; 
    
    width:100%;
    bottom:0;
}

#footer p {
  color: white;
}

